.header {
	width: 100%;
	--bg-opacity: 1;
	background-color: rgb(254 250 224 / var(--bg-opacity));
	--shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--shadow-colored: 0 25px 50px -12px var(--shadow-color);
	box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
}

.navbar {
	margin-left: auto;
	margin-right: auto;
	padding: 1.25rem;
}

@media (min-width: 768px) {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@media (min-width: 1024px) {
	.navbar {
		width: 83.333333%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.navbar-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.layout-logo {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

@media (min-width: 425px) {
	.layout-logo {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}

@media (min-width: 768px) {
	.layout-logo {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

.logo-image {
	margin-top: -0.5rem;
	display: inline;
	height: 1.5rem;
}

@media (min-width: 425px) {
	.logo-image {
		height: 2rem;
	}
}

.logo-name-1 {
	font-weight: 700;
	--text-opacity: 1;
	color: rgb(40 54 24 / var(--text-opacity));
}

.logo-name-2 {
	font-weight: 700;
	--text-opacity: 1;
	color: rgb(96 108 56 / var(--text-opacity));
}

.layout-btn-mobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.layout-icon-mobile {
	margin-left: 0.375rem;
	margin-right: 0.375rem;
	display: block;
	--text-opacity: 1;
	color: rgb(40 54 24 / var(--text-opacity));
}

@media (min-width: 768px) {
	.layout-icon-mobile {
		display: none;
	}
}

.icon-menu {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 0.75rem;
}

@media (min-width: 768px) {
	.icon-menu {
		margin-left: 0px;
		margin-right: 0px;
		gap: 1rem;
	}
}

.icon-cart {
	position: relative;
	font-size: 1rem;
	line-height: 1.5rem;
}

.icon-cart:hover {
	--text-opacity: 1;
	color: rgb(188 108 37 / var(--text-opacity));
}

@media (min-width: 768px) {
	.icon-cart {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}

.count-notification {
	position: absolute;
	bottom: auto;
	left: auto;
	right: 0px;
	top: 0.25rem;
	z-index: 10;
	display: inline-block;
	--translate-y: -50%;
	--translate-x: 50%;
	--rotate: 0deg;
	--skew-x: 0deg;
	--skew-y: 0deg;
	--scale-x: 1;
	--scale-y: 1;
	transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
	white-space: nowrap;
	border-radius: 9999px;
	--bg-opacity: 1;
	background-color: rgb(220 38 38 / var(--bg-opacity));
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	text-align: center;
	vertical-align: baseline;
	font-size: 0.5rem;
	line-height: 0.5rem;
	font-weight: 700;
	line-height: 1;
	--text-opacity: 1;
	color: rgb(255 255 255 / var(--text-opacity));
}

@media (min-width: 768px) {
	.count-notification {
		padding-left: 0.375rem;
		padding-right: 0.375rem;
		padding-top: 0.15rem;
		padding-bottom: 0.15rem;
		font-size: 0.65rem;
		line-height: 0.75rem;
	}
}

.icon-user {
	text-align: center;
	font-size: 1rem;
	line-height: 1.5rem;
}

.icon-user:hover {
	--text-opacity: 1;
	color: rgb(188 108 37 / var(--text-opacity));
}

@media (min-width: 768px) {
	.icon-user {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}

.layout-btn-hamburger {
	display: block;
	font-size: 1rem;
	line-height: 1.5rem;
}

@media (min-width: 768px) {
	.layout-btn-hamburger {
		display: none;
	}
}

.btn-hamburger {
	margin-left: auto;
	margin-right: auto;
	width: 1rem;
}

.icon-hamburger {
	--text-opacity: 1;
	color: rgb(40 54 24 / var(--text-opacity));
}

.btn-login {
	border-start-start-radius: 1.5rem;
	border-end-start-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	--bg-opacity: 1;
	background-color: rgb(221 161 94 / var(--bg-opacity));
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.375rem;
	padding-bottom: 0.5rem;
	font-weight: 600;
	--text-opacity: 1;
	color: rgb(40 54 24 / var(--text-opacity));
	transition-duration: 500ms;
}

.btn-login:hover {
	--scale-x: 1.05;
	--scale-y: 1.05;
	transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
	--bg-opacity: 1;
	background-color: rgb(188 108 37 / var(--bg-opacity));
	--text-opacity: 1;
	color: rgb(254 250 224 / var(--text-opacity));
}

.navbar-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.navbar-menu > :not([hidden]) ~ :not([hidden]) {
		--divide-x-reverse: 0;
		border-right-width: calc(2px * var(--divide-x-reverse));
		border-left-width: calc(2px * calc(1 - var(--divide-x-reverse)));
		--divide-opacity: 1;
		border-color: rgb(40 54 24 / var(--divide-opacity));
	}
}

.layout-menu {
	position: absolute;
	right: 0.25rem;
	top: 70px;
	z-index: 50;
	width: 12rem;
}

.layout-menu > :not([hidden]) ~ :not([hidden]) {
	--divide-y-reverse: 0;
	border-top-width: calc(2px * calc(1 - var(--divide-y-reverse)));
	border-bottom-width: calc(2px * var(--divide-y-reverse));
	--divide-opacity: 1;
	border-color: rgb(229 231 235 / var(--divide-opacity));
}

.layout-menu {
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	--bg-opacity: 1;
	background-color: rgb(254 250 224 / var(--bg-opacity));
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

@media (min-width: 768px) {
	.layout-menu {
		position: static;
		z-index: auto;
		display: flex;
		width: auto;
		align-items: center;
	}

	.layout-menu > :not([hidden]) ~ :not([hidden]) {
		--divide-y-reverse: 0;
		border-top-width: calc(0px * calc(1 - var(--divide-y-reverse)));
		border-bottom-width: calc(0px * var(--divide-y-reverse));
	}

	.layout-menu {
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		opacity: 1;
	}
}

@media (min-width: 1024px) {
	.layout-menu {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

@media (min-width: 768px) {
	.navbar .layout-menu a::before {
		visibility: visible;
		position: absolute;
		bottom: 0px;
		top: 100%;
		margin-top: 0.25rem;
		height: 0.25rem;
		width: 0px;
		border-radius: 0.375rem;
		--bg-opacity: 1;
		background-color: rgb(188 108 37 / var(--bg-opacity));
		opacity: 1;
		--shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
		--shadow-colored: 0 25px 50px -12px var(--shadow-color);
		box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 500ms;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		--content: "";
		content: var(--content);
	}

	.navbar .layout-menu a:hover {
		opacity: 1;
	}

	.navbar .layout-menu a:hover::before {
		width: 100%;
	}

	.navbar .layout-menu .active a {
		opacity: 1;
	}

	.navbar .layout-menu .active a::before {
		width: 100%;
	}
}

.active {
	--bg-opacity: 1;
	background-color: rgb(40 54 24 / var(--bg-opacity));
	--text-opacity: 1 !important;
	color: rgb(254 250 224 / var(--text-opacity)) !important;
}

@media (min-width: 768px) {
	.active {
		background-color: transparent;
		--text-opacity: 1 !important;
		color: rgb(40 54 24 / var(--text-opacity)) !important;
	}
}

.menu-list {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	--text-opacity: 1;
	color: rgb(40 54 24 / var(--text-opacity));
	transition-duration: 500ms;
}

.menu-list:hover {
	--bg-opacity: 1;
	background-color: rgb(40 54 24 / var(--bg-opacity));
	--text-opacity: 1;
	color: rgb(254 250 224 / var(--text-opacity));
}

@media (min-width: 768px) {
	.menu-list {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}

	.menu-list:hover {
		background-color: transparent;
		--text-opacity: 1;
		color: rgb(40 54 24 / var(--text-opacity));
	}
}

@media (min-width: 1024px) {
	.menu-list {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

.menu-link {
	position: relative;
}

.layout-icon {
	display: none;
	padding-left: 1rem;
	padding-right: 1rem;
	--text-opacity: 1;
	color: rgb(40 54 24 / var(--text-opacity));
}

@media (min-width: 768px) {
	.layout-icon {
		display: block;
	}
}
